<div class="user-form">
  <%= form_for(@user, html: { multipart: true })  do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend>enter your details</legend>

      <div class="name-field">
        <%= form.text_field(:name) %>
      </div>
      <div class="developer-level-field">
        <%= form.radio_button(:developer_level, "junior developer") %>
        <%= form.label(:junior_developer, "junior developer") %>
        <%= form.radio_button(:developer_level, "mid-level developer") %>
        <%= form.label(:mid_level_developer, "mid-level developer") %>
        <%= form.radio_button(:developer_level, "senior developer") %>
        <%= form.label(:senior_developer, "senior developer") %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</div>
